/* app/globals.css */

/* Hela film-listan */
#movies {
  margin: 0;
  padding: 0;
}

/* Varje film i listan */
#movies > li {
  list-style: none;
  background-color: #eee;
  margin: 5px;
  padding: 20px;
  box-shadow: 0 0 5px #999;
}

/* Bilderna i varje film */
#movies > li > img {
  height: 25px;
  margin-left: 5px;
}

/* Ikonen för att ta bort en film */
.delete-movie-icon {
  cursor: pointer;
  float: right;
}